/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
  --whitebg:#fff;
  --greenbg:#05f23c;
  --none:none;
  --tenTwentypadding: 10px 20px;
  --smallBorderRadius:5px;
  --boldFonts:bold;
  --darkGreenBg:#000804;
}
body {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  padding: 0;
  
}
/* header section */
.header_navigation{
  background-color: var(--whitebg);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.bg-body-tertiary{
    background-color: var(--whitebg);
}

.donate{
  background-color:var(--greenbg) ;
  padding: var(--tenTwentypadding);
  border:var(--none);
  border-radius: var(--smallBorderRadius);
  color: var(--whitebg);
  font-weight: var(--boldFonts);

}

.navigation_list{
  padding: 0px 22px;
}
.navigation_list li{
  padding: 0px 10px;
}
/* end: navigation section */


/* start: footer_section */
.footer_section .section_need_your_help{
  height: 400px;
  background-color: var(--greenbg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6), rgba(0,0,0,0.2)), url('/images/needHelp.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;

  
}
.footer_section .section_need_your_help .inner_section{
 
  padding: 100px 50px;
  color: var(--whitebg);
}
.donate_need_help_button{
    background-color: var(--greenbg);
      padding: var(--tenTwentypadding);
      border: var(--none);
      border-radius: var(--smallBorderRadius);
      color: var(--whitebg);
      font-weight: var(--boldFonts);
      display: inline-block;
}
.footer_navigation_section {
  background-color: var(--darkGreenBg) ;
}
.footer_navigation_section .logo_section{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  
}
 .footer_navigation_section .Allforlove{
  color: var(--whitebg);
 }
 .footer_navigation_section .slogan{
  padding-left: 30px;
  font-weight: 100;
  color: var(--whitebg);
  padding-top: 20px;
 }
 .contacts .mail, .contacts .call, .social_media_links{
  display: flex;
  color: var(--whitebg);
  padding-left: 30px;
  padding-top: 4px;
 }
 .mail h6, .call h6{
  font-weight: 300;
  padding-left: 20px;
 }
 .social_media_links{
  padding-top: 50px;
 }