/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
  --whitebg:#fff;
  --greenbg:#05f23c;
  --none:none;
  --tenTwentypadding: 10px 20px;
  --smallBorderRadius:5px;
  --boldFonts:bold;
  --darkGreenBg:#000804;
  --center:center;
  --boxShadow:0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  padding: 0;

  overflow-y:auto;
  
}
/* header section */
.header_navigation{
  background-color: var(--whitebg);
  box-shadow: var(--boxShadow)
}
.bg-body-tertiary{
    background-color: var(--whitebg);
}

.donate{
  background-color:var(--greenbg) ;
  padding: var(--tenTwentypadding);
  border:var(--none);
  border-radius: var(--smallBorderRadius);
  color: var(--whitebg);
  font-weight: var(--boldFonts);

}

.navigation_list{
  padding: 0px 22px;
}
.navigation_list li{
  padding: 0px 10px;
}
/* end: navigation section */


/* start: footer_section */
.footer_section .section_need_your_help{
  /* height: 400px; */
  background-color: var(--greenbg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6), rgba(0,0,0,0.2)), url('/images/needHelp.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;

  
}
.footer_section .section_need_your_help .inner_section{
 
  padding: 100px 50px;
  color: var(--whitebg);
}
.donate_need_help_button{
    background-color: var(--greenbg);
      padding: var(--tenTwentypadding);
      border: var(--none);
      border-radius: var(--smallBorderRadius);
      color: var(--whitebg);
      font-weight: var(--boldFonts);
      display: inline-block;
}
.footer_navigation_section {
  background-color: var(--darkGreenBg) ;
}
.footer_navigation_section .logo_section{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  
}
 .footer_navigation_section .Allforlove{
  color: var(--whitebg);
 }
 .footer_navigation_section .slogan{
  padding-left: 30px;
  font-weight: 100;
  color: var(--whitebg);
  padding-top: 20px;
 }
 .contacts .mail, .contacts .call, .social_media_links{
  display: flex;
  color: var(--whitebg);
  padding-left: 30px;
  padding-top: 4px;
 }
 .mail h6, .call h6{
  font-weight: 300;
  padding-left: 20px;
 }
 .social_media_links{
  padding-top: 50px;
  padding-left: 20px;
 }
 .social_media_links img{
  width: 40px;
  height: 40px;
  padding: 7px;
 }

 .footer_navigation_section .line{
  width: 79%;
  margin: auto;
  background-color: var(--greenbg);
  padding: 0.1px;
 }
 .copyright_section{
  /* display: flex; */
  /* font-size: 14px; */
  text-align: center;
  line-height: 4px;
  padding: 30px 0px;
  color: var(--whitebg);
  font-weight: 200;
 }

 .quickLink{
  color: var(--whitebg);
  font-weight: 400;
  padding:50px 20px;
  font-size: 20px;

 }
 .footer_navigation_section ul li{
  padding: 7px !important;
  color: var(--whitebg);
  font-weight: 200;

 }

 .footer_navigation_section .campaign{
  padding: 50px 20px;
 }
 .footer_navigation_section .campaign p{
  padding: 50px 0px;
  color: var(--whitebg);
    font-weight: 200;

 }
 .footer_navigation_section .campaign h6{
  color: var(--whitebg);
    font-weight: 400;
    font-size: 20px;
 }
.footer_navigation_section .get_intouch{
  padding: 50px 20px;
}
.footer_navigation_section .get_intouch h6{
  color: var(--whitebg);
    font-weight: 400;
    font-size: 20px;
}

.footer_navigation_section .get_intouch p{
padding: 50px 0px;
  color: var(--whitebg);
  font-weight: 200;
}
.footer_navigation_section .input_section input{
  border: 1px solid var(--whitebg);
  border-radius: 5px;
  padding: 3px;
  outline: var(--none);
}
.footer_naviga9ion_section .input_section button{
  border: var(--none);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(--greenbg);
  color: var(--boldFonts);
  font-weight: 400;
  /* margin */
}


/* start: home_hero_section */
.home_hero_section{
  
    background-color: var(--greenbg);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('/images/hero.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      padding: 150px 30px;
}

.home_hero_section .inner h1{
  font-weight: 700;
  font-size: 50px;
  padding:0px 30px;
  text-wrap: nowrap;
  color: var(--whitebg);
  /* font-size: calc(200px -10px); */
}
.home_hero_section .inner h1, .home_hero_section p{
  color:var(--whitebg);
  padding:0px 40px;
  /* font-size: calc(200px -10px); */
}

/* end: home_hero_section */

/* start: how_can_you_help */
.how_can_you_help .inner h3{
  text-align: var(--center);
  font-weight: 400;
  padding: 80px;
}
.how_can_you_help .inner_cards .make_gift_card{
  padding: 10px;
}
.how_can_you_help .make_gift_inner .circle{
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: var(--greenbg);
  margin: auto;
  justify-content: var(--center);
  align-items: var(--center);
  padding: 30px;
  box-shadow: var(--boxShadow);
}
.how_can_you_help .make_gift_inner{
  padding: 40px 30px;
}
.how_can_you_help .make_gift_inner .circle h5{
 text-align: var(--center);
 align-items: var(--center);
  justify-content: center;
  
}
.how_can_you_help .make_gift_inner .circle Image{
  margin: auto;
  width: 150px;
  display: none;
}
.how_can_you_help .make_gift_inner .descriptions{
  text-align: var(--center);
  padding:100px 10px 50px;
  box-shadow: var(--boxShadow);
  margin-top: -70px;
  border-radius: 10px;
}
.how_can_you_help .make_gift_inner .descriptions h6{
  font-weight: 600;
  font-size: 18px;
}
/* end:how_can_you_help */

/* start:breif_about_us */
.breif_about_us{
  padding: 180px;
  margin: auto;
}
.breif_about_us .inner_section{
  display: flex;
}
.breif_about_us .description{
  box-shadow: var(--boxShadow);
  margin-right: -110px;
  background-color: #000804;
  border-radius: 10px;
  padding: 40px 20px;
  opacity: 0.9;
}
.breif_about_us .description h3 {
  margin: 0px;
  padding: 50px 0px 0px 20px;
  text-align: start;
  color: var(--whitebg);
}
.breif_about_us .description p{
  padding: 10px 100px 50px 20px;
  text-align:justify;
  color: var(--whitebg);
  font-weight:200;

}
.breif_about_us .image_section{
    text-align: center;
    border-radius: 100%;
    border: 2px solid var(--whitebg);
    background-color: var(--whitebg);
    margin: auto;
    justify-content: var(--center);
    align-items: var(--center);
    padding: 80px;
    box-shadow: var(--boxShadow);
    z-index: 10;
}
/* end:breif_about_us */

/* start:brief_latest_events */

.brief_latest_events{
  background-color: var(--darkGreenBg);
  padding: 20px;
}
.brief_latest_events h3{
  text-align: var(--center);
  color: var(--whitebg);
  padding: 50px;
  font-weight: 400;
}
.brief_latest_events .events{
  /* padding: 200px; */
  background-color: var(--darkGreenBg);
}
.brief_latest_events .inner_section{
  background-color: var(--whitebg);
  box-shadow: var(--boxShadow);
  margin-top: 10px;
}
.brief_latest_events .inner_section img{
  /* padding: 200px; */
  width: 100%;
  background-color: var(--whitebg);
}
.brief_latest_events .inner_section .descriptions{
  padding: 20px;
  width: 100%;
  background-color: var(--whitebg);
  border-radius: 10px;

}
.brief_latest_events .other_events{
  display: flex;
  justify-content: space-between;
  background-color: var(--whitebg);
  margin-top: 10px;
}
.brief_latest_events .image_section img{
  width: 700px;
  height: 100%;
}
.brief_latest_events .descriptions{
  padding:10px 20px;
}
/* end:brief_latest_events */


/* start:campaign_section */
.campaign_section{
  padding: 30px 0px;
}
.campaign_section .heading{
display: flex;
justify-content: space-between;
align-items: center;
}
.campaign_section .heading h3{
font-weight: 400;
padding: 33px 10px;
}
.campaign_section .heading input{
font-weight: 400;
padding: 10px 20px;
border: 1px solid var(--greenbg);
outline: none;
border-radius: 10px;
}

.campaign_section .inner{
  background-color: var(--whitebg);
  box-shadow: var(--boxShadow);
  height: 420px;
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
.campaign_section .inner img{
  width: 100%;
  height: 200px;
}
.campaign_section .inner h5{
  color: var(--boldFonts);
  padding: 10px 10px 10px 10px;
  font-weight: 420;
  text-align: left;
  background-color: var(--darkGreenBg);
  color: var(--whitebg);
  opacity: 0.8;
}
.campaign_section .inner p{
  color: var(--boldFonts);
  padding: 20px 10px 0px 10px;
  text-align: justify;
}
.campaign_section .inner a{
  color: var(--boldFonts);
  padding: 10px ;
  text-decoration: var(--none);
  border: 1px solid var(--greenbg);
  border-radius: 10px;
  /* justify-content: var(--center); */
  /* text-align: var(--center); */
}
.campaign_section .inner a:hover{
  color: var(--whitebg);
  padding: 10px;
  background-color: var(--darkGreenBg);
  text-decoration: var(--none);
  opacity: 0.9;
}