/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
  --whitebg:#fff;
  --greenbg:#05f23c;
  --none:none;
  --tenTwentypadding: 10px 20px;
  --smallBorderRadius:5px;
  --boldFonts:bold;
  --darkGreenBg:#000804;
}
body {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  padding: 0;

  overflow-y:auto;
  
}
/* header section */
.header_navigation{
  background-color: var(--whitebg);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.bg-body-tertiary{
    background-color: var(--whitebg);
}

.donate{
  background-color:var(--greenbg) ;
  padding: var(--tenTwentypadding);
  border:var(--none);
  border-radius: var(--smallBorderRadius);
  color: var(--whitebg);
  font-weight: var(--boldFonts);

}

.navigation_list{
  padding: 0px 22px;
}
.navigation_list li{
  padding: 0px 10px;
}
/* end: navigation section */


/* start: footer_section */
.footer_section .section_need_your_help{
  /* height: 400px; */
  background-color: var(--greenbg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6), rgba(0,0,0,0.2)), url('/images/needHelp.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;

  
}
.footer_section .section_need_your_help .inner_section{
 
  padding: 100px 50px;
  color: var(--whitebg);
}
.donate_need_help_button{
    background-color: var(--greenbg);
      padding: var(--tenTwentypadding);
      border: var(--none);
      border-radius: var(--smallBorderRadius);
      color: var(--whitebg);
      font-weight: var(--boldFonts);
      display: inline-block;
}
.footer_navigation_section {
  background-color: var(--darkGreenBg) ;
}
.footer_navigation_section .logo_section{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-top: 20px;
  
}
 .footer_navigation_section .Allforlove{
  color: var(--whitebg);
 }
 .footer_navigation_section .slogan{
  padding-left: 30px;
  font-weight: 100;
  color: var(--whitebg);
  padding-top: 20px;
 }
 .contacts .mail, .contacts .call, .social_media_links{
  display: flex;
  color: var(--whitebg);
  padding-left: 30px;
  padding-top: 4px;
 }
 .mail h6, .call h6{
  font-weight: 300;
  padding-left: 20px;
 }
 .social_media_links{
  padding-top: 50px;
  padding-left: 20px;
 }
 .social_media_links img{
  width: 40px;
  height: 40px;
  padding: 7px;
 }

 .footer_navigation_section .line{
  width: 79%;
  margin: auto;
  background-color: var(--greenbg);
  padding: 0.1px;
 }
 .copyright_section{
  /* display: flex; */
  /* font-size: 14px; */
  text-align: center;
  line-height: 4px;
  padding: 30px 0px;
  color: var(--whitebg);
  font-weight: 200;
 }

 .quickLink{
  color: var(--whitebg);
  font-weight: 400;
  padding:50px 20px;
  font-size: 20px;

 }
 .footer_navigation_section ul li{
  padding: 7px !important;
  color: var(--whitebg);
  font-weight: 200;

 }

 .footer_navigation_section .campaign{
  padding: 50px 20px;
 }
 .footer_navigation_section .campaign p{
  padding: 50px 0px;
  color: var(--whitebg);
    font-weight: 200;

 }
 .footer_navigation_section .campaign h6{
  color: var(--whitebg);
    font-weight: 400;
    font-size: 20px;
 }
.footer_navigation_section .get_intouch{
  padding: 50px 20px;
}
.footer_navigation_section .get_intouch h6{
  color: var(--whitebg);
    font-weight: 400;
    font-size: 20px;
}

.footer_navigation_section .get_intouch p{
padding: 50px 0px;
  color: var(--whitebg);
  font-weight: 200;
}
.footer_navigation_section .input_section input{
  border: 1px solid var(--whitebg);
  border-radius: 5px;
  padding: 3px;
  outline: var(--none);
}
.footer_navigation_section .input_section button{
  border: var(--none);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(--greenbg);
  color: var(--boldFonts);
  font-weight: 400;
  /* margin */
}